<mz-modal [fixedFooter]="true" #addItemModal>
  <mz-modal-header>
    Add an item
  </mz-modal-header>
    <mz-modal-content class="row">
      <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
      <div class="col-md-12 col-sm-12">
        <h4>Item</h4>
        <div class="row">
          <mz-select-container class="col-lg-4 col-sm-12">
            <select mz-select id="circle-select" [label]="'Select an Item'" [placeholder]="'Select an Item'" required [formControl]="itemsFormControl">
              <option *ngFor="let item of minecraftItems" [attr.data-icon]="getImage(item)" class="circle" [ngValue]="item">{{item.getName()}}</option>
            </select>
          </mz-select-container>


          <mz-input-container class="col-lg-2 col-sm-12">
            <input mz-input placeholder="Name" [formControl]="itemNameFormControl"/>
          </mz-input-container>

          <mz-input-container class="col-lg-2 col-sm-12">
            <input mz-input type="number" placeholder="Amount" [formControl]="itemAmountFormControl" required [validate]="true"/>
          </mz-input-container>

          <mz-textarea-container class="col-lg-4 col-sm-12">
            <textarea mz-input placeholder="Lores" [formControl]="itemLoreFormControl" id="lore-textarea"></textarea>
          </mz-textarea-container>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <h4>Enchantments</h4>
        <div class="row">
          <ng-container *ngFor="let enchantment of minecraftEnchantments">
            <mz-input-container class="col-lg-4 col-sm-4">
              <input mz-input name="{{enchantment.getTextType()}}" placeholder="{{enchantment.getName()}} level" type="number" ngModel/>
            </mz-input-container>
          </ng-container>
        </div>
      </div>
      </form>
    </mz-modal-content>
    <mz-modal-footer>
      <button mz-button [flat]="true" (click)="onSubmit(itemForm);">Submit</button> <!---mz-modal-close-->
      <button mz-button [flat]="true" mz-modal-close>Cancel</button> <!---mz-modal-close-->
    </mz-modal-footer>
</mz-modal>
